html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
  height: 15px;
  width: 15px;
  display: none !important;
}

.slick-arrow.slick-prev {
  left: 0;
}

.slick-arrow.slick-next {
  right: 0;
}

.slick-dots {
  display: none !important;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  background-color: #F7F7F7;
  letter-spacing: -0.25px;
}

body .page-container-wrapper {
  margin-top: 80px;
  min-height: -webkit-calc(100vh - 265px);
  min-height: -moz-calc(100vh - 265px);
  min-height: calc(100vh - 265px);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  line-height: 1.1em;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  color: #f7ce3e;
  font-weight: 500;
}

h1 {
  font-size: 3.75em;
  font-weight: lighter;
  color: rgba(51, 51, 51, 0.7);
}

@media (max-width: 767px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  font-size: 2.5em;
  color: rgba(51, 51, 51, 0.7);
}

h3 {
  font-size: 1.5em;
  color: rgba(51, 51, 51, 0.7);
}

@media (max-width: 767px) {
  h3 {
    font-size: 1.125em;
  }
}

h4 {
  font-size: 1.125em;
}

@media (max-width: 767px) {
  h4 {
    font-size: 1em;
  }
}

p {
  line-height: 1.5em;
}

.btn {
  padding: 15px 30px;
  -webkit-border-radius: 35px;
     -moz-border-radius: 35px;
          border-radius: 35px;
  text-decoration: none;
  border: 2px solid #f7ce3e;
  font-size: 24px;
  color: #f7ce3e;
  display: inline-block;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  -moz-transition: .3s linear;
  transition: .3s linear;
}

.btn:hover {
  background-color: rgba(247, 206, 62, 0.7);
  color: #fff;
}

header {
  -webkit-transition: .3s linear box-shadow;
  -o-transition: .3s linear box-shadow;
  -moz-transition: .3s linear box-shadow;
  transition: .3s linear box-shadow;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: #fff;
}

header.shadow {
  -webkit-box-shadow: 0px 3px 5px 0px #919191;
     -moz-box-shadow: 0px 3px 5px 0px #919191;
          box-shadow: 0px 3px 5px 0px #919191;
}

header > .container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  padding: 10px;
}

header > .container .logo__wrapper {
  max-width: 170px;
  position: relative;
  z-index: 99;
  height: 60px;
  width: 170px;
}

header > .container .logo__wrapper .logo {
  position: absolute;
  height: 100%;
  -webkit-transition: .3s linear opacity;
  -o-transition: .3s linear opacity;
  -moz-transition: .3s linear opacity;
  transition: .3s linear opacity;
}

header > .container .logo__wrapper .logo.first {
  opacity: 1;
}

header > .container .logo__wrapper .logo.second {
  opacity: 0;
}

header > .container .logo__wrapper.logo-white .logo.first {
  opacity: 0;
}

header > .container .logo__wrapper.logo-white .logo.second {
  opacity: 1;
}

header > .container .tel {
  position: relative;
  z-index: 99;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

header > .container .tel a {
  text-decoration: none;
  font-size: 1.5em;
  color: #a9a9a9;
  -webkit-transition: .5s color linear;
  -o-transition: .5s color linear;
  -moz-transition: .5s color linear;
  transition: .5s color linear;
}

header > .container .tel a i {
  font-size: 40px;
  line-height: 24px;
}

header > .container .tel a:hover i {
  -webkit-animation-name: shake;
     -moz-animation-name: shake;
       -o-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: .5s;
     -moz-animation-duration: .5s;
       -o-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-transform-origin: 50% 50%;
     -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
       -o-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

header > .container .tel.open a {
  color: #fff;
}

header > .container .nav-btn {
  position: relative;
  height: 27px;
  width: 35px;
}

header > .container .nav-btn:hover {
  opacity: .7;
}

header > .container .nav-btn.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
     -moz-transform: translateY(11px) translateX(0) rotate(45deg);
      -ms-transform: translateY(11px) translateX(0) rotate(45deg);
       -o-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}

header > .container .nav-btn.active .middle {
  opacity: 0;
  background: #fff;
}

header > .container .nav-btn.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
     -moz-transform: translateY(-11px) translateX(0) rotate(-45deg);
      -ms-transform: translateY(-11px) translateX(0) rotate(-45deg);
       -o-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}

header > .container .nav-btn span {
  background: #f7ce3e;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  -o-transition: all .35s ease;
  -moz-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

header > .container .nav-btn span:nth-of-type(2) {
  top: 11px;
}

header > .container .nav-btn span:nth-of-type(3) {
  top: 22px;
}

header > .container nav {
  position: fixed;
  background: #a9a9a9;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  -o-transition: opacity .35s, visibility .35s, height .35s;
  -moz-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  max-width: 100%;
}

header > .container nav.open {
  opacity: .95;
  visibility: visible;
  height: 100%;
}

header > .container nav.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
     -moz-animation: fadeInRight .5s ease forwards;
       -o-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
     -moz-animation-delay: .35s;
       -o-animation-delay: .35s;
          animation-delay: .35s;
}

header > .container nav.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
     -moz-animation-delay: .4s;
       -o-animation-delay: .4s;
          animation-delay: .4s;
}

header > .container nav.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
     -moz-animation-delay: .45s;
       -o-animation-delay: .45s;
          animation-delay: .45s;
}

header > .container nav.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
     -moz-animation-delay: .50s;
       -o-animation-delay: .50s;
          animation-delay: .50s;
}

header > .container nav.open li:nth-of-type(5) {
  -webkit-animation-delay: .55s;
     -moz-animation-delay: .55s;
       -o-animation-delay: .55s;
          animation-delay: .55s;
}

header > .container nav > div {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 300;
  font-size: 3.125em;
  line-height: 1.1em;
}

header > .container nav > div > ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
}

header > .container nav > div > ul li {
  display: block;
  position: relative;
  opacity: 0;
}

header > .container nav > div > ul li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

header > .container nav > div > ul li a:hover {
  color: #f7ce3e;
}

header > .container nav > div > ul li.menu-item-has-children ul li a {
  position: relative;
  padding-left: 50px;
}

header > .container nav > div > ul li.menu-item-has-children ul li a:before {
  position: absolute;
  left: 10px;
  font-family: FontAwesome;
  content: '\f141';
  font-size: 30px;
}

@media (max-width: 700px) {
  header > .container nav > div {
    font-size: 2em;
  }
  header > .container nav > div > ul > li a {
    display: block;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  30%,
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@-moz-keyframes shake {
  10%,
  90% {
    -moz-transform: rotate(-10deg);
         transform: rotate(-10deg);
  }
  50% {
    -moz-transform: rotate(0);
         transform: rotate(0);
  }
  30%,
  70% {
    -moz-transform: rotate(10deg);
         transform: rotate(10deg);
  }
}

@-o-keyframes shake {
  10%,
  90% {
    -o-transform: rotate(-10deg);
       transform: rotate(-10deg);
  }
  50% {
    -o-transform: rotate(0);
       transform: rotate(0);
  }
  30%,
  70% {
    -o-transform: rotate(10deg);
       transform: rotate(10deg);
  }
}

@keyframes shake {
  10%,
  90% {
    -webkit-transform: rotate(-10deg);
       -moz-transform: rotate(-10deg);
         -o-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0);
  }
  30%,
  70% {
    -webkit-transform: rotate(10deg);
       -moz-transform: rotate(10deg);
         -o-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

footer {
  padding: 50px 0 20px;
  background-color: #333;
  color: #fff;
  position: relative;
}

footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .footer--block {
  border-right: 1px solid #a1a1a1;
  padding: 10px 25px;
  width: 25%;
  text-align: center;
  color: #a1a1a1;
}

@media (max-width: 991px) {
  footer .container .footer--block {
    width: 33%;
  }
}

footer .container .footer--block:last-of-type {
  border-right: 0;
}

footer .container .footer--block h3 {
  font-weight: 300;
  font-size: 1.25em;
  color: #a1a1a1;
  letter-spacing: 0.25px;
}

footer .container .footer--block i {
  display: block;
  text-align: center;
  margin: 10px 0;
  font-size: 1.5em;
}

footer .container .footer--block p {
  margin-bottom: 5px;
}

footer .container .footer--block a {
  text-decoration: none;
  color: #a1a1a1;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

footer .container .footer--block a:hover {
  opacity: .7;
}

@media (max-width: 600px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container .footer--block {
    border-right: 0;
    border-bottom: 1px solid #a1a1a1;
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    padding: 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container .footer--block:last-of-type {
    border-bottom: 0;
  }
  footer .container .footer--block__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .container .footer--block__header i {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 10px 0 0;
    width: 25px;
  }
  footer .container .footer--block__header h3 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .container .footer--block__header i,
  footer .container .footer--block__header h3 {
    line-height: 24px;
  }
  footer .container .footer--block__text {
    text-align: right;
  }
}

@media (max-width: 400px) {
  footer .container .footer--block {
    width: 90%;
    padding: 10px 5px;
  }
}

footer .copy {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

footer .copy p {
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
}

footer .copy p a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}

footer .copy p a:hover {
  text-decoration: underline;
}

.banner-top {
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top right;
  -moz-background-size: contain;
    -o-background-size: contain;
       background-size: contain;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1450px) {
  .banner-top {
    -moz-background-size: cover;
      -o-background-size: cover;
         background-size: cover;
  }
  .banner-top br {
    display: none;
  }
}

.banner-top__figure {
  position: absolute;
  width: 65%;
  margin-left: -5%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.9);
  -webkit-transform: skewX(-15deg);
     -moz-transform: skewX(-15deg);
      -ms-transform: skewX(-15deg);
       -o-transform: skewX(-15deg);
          transform: skewX(-15deg);
}

@media (max-width: 550px) {
  .banner-top__figure {
    width: 75%;
    margin-left: -10%;
  }
}

.banner-top .container {
  position: relative;
  height: 600px;
}

.banner-top__inner-text {
  position: absolute;
  padding: 0 10px;
  top: 50%;
  max-width: 58%;
  left: 0;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner-top h1,
.banner-top h3 {
  text-align: left;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}

.banner-top h3 {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .banner-top h1 {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .banner-top h1 {
    font-size: 30px;
  }
}

@media (max-width: 992px) {
  .banner-top {
    height: 500px;
  }
  .banner-top .container {
    height: 500px;
  }
}

@media (max-width: 850px) {
  .banner-top {
    height: 400px;
  }
  .banner-top .container {
    height: 400px;
  }
}

.features {
  padding: 50px 0;
}

.features--wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 40px;
}

.features--single {
  padding: 0 20px;
  width: 33%;
  margin-bottom: 50px;
  text-align: center;
}

@media (max-width: 991px) {
  .features--single {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .features--single {
    width: 100%;
  }
}

.features--single__num {
  text-align: center;
  font-size: 30px;
  color: #333;
  width: 35px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #f7ce3e;
  margin-bottom: 15px;
}

.features--single h4 {
  font-weight: bold;
  margin: 10px 0 20px;
}

.slides {
  padding: 50px 0;
  background-color: #fff;
}

.slides .slides--single {
  position: relative;
  margin: 0 auto;
  width: 33%;
  padding: 20px 0;
  height: 350px;
}

@media (max-width: 1400px) {
  .slides .slides--single__img {
    padding-top: 40px;
  }
}

@media (max-width: 1400px) {
  .slides .slides--single {
    height: 300px;
  }
}

@media (max-width: 1100px) {
  .slides .slides--single {
    height: 250px;
  }
}

@media (max-width: 650px) {
  .slides .slides--single {
    height: 350px;
  }
  .slides .slides--single__img {
    padding-top: 0;
  }
}

@media (max-width: 550px) {
  .slides .slides--single {
    height: 300px;
  }
  .slides .slides--single__img {
    padding-top: 40px;
  }
}

.slides .slides--single h4 {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  min-height: 40px;
  background-color: rgba(51, 51, 51, 0.7);
  opacity: 0;
  -webkit-transition: .4s linear opacity;
  -o-transition: .4s linear opacity;
  -moz-transition: .4s linear opacity;
  transition: .4s linear opacity;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
}

.slides .slides--single.slick-center h4 {
  opacity: 1;
}

.slides .slides--wrapper {
  padding: 50px 5px;
}

.slides p {
  font-size: 20px;
  text-align: center;
}

.slides p a {
  margin-top: 25px;
}
