html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: #555555;
  overflow-x: hidden;
  background-color: #F7F7F7; }
  body .page-main-content {
    min-height: -webkit-calc(100vh - 120px);
    min-height: -moz-calc(100vh - 120px);
    min-height: calc(100vh - 120px); }

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .container {
      padding: 0 15px; } }

h1, h2, h3, h4, h5, h6 {
  color: #e6ce81;
  text-align: center; }

h1 {
  font-size: 60px;
  letter-spacing: 1px;
  color: #fff;
  margin: 30px 0; }
  @media (max-width: 500px) {
    h1 {
      font-size: 40px; } }
  h1 span {
    color: #e6ce81; }

h2 {
  font-size: 45px;
  letter-spacing: 1px;
  margin: 30px 0; }
  @media (max-width: 500px) {
    h2 {
      font-size: 30px; } }

h3 {
  font-size: 30px;
  letter-spacing: 1px;
  margin: 15px 0; }
  @media (max-width: 500px) {
    h3 {
      font-size: 25px; } }

p {
  font-size: 24px;
  line-height: 30px;
  margin: 10px 0; }
  @media (max-width: 500px) {
    p {
      font-size: 18px;
      line-height: 24px; } }

.spacer {
  height: 102px;
  width: 100%; }

.cookie__wrapper {
  width: 100%;
  background-color: #292935;
  position: fixed;
  bottom: 0;
  left: 0; }
  .cookie__wrapper .cookie__container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 80px; }
    .cookie__wrapper .cookie__container p {
      font-size: 16px;
      color: #fff; }
      .cookie__wrapper .cookie__container p a {
        color: inherit; }
    .cookie__wrapper .cookie__container .cookie__button {
      margin-left: 15px;
      font-size: 14px;
      padding: 8px 20px;
      color: #fff;
      background-color: #555555;
      border: 1px solid #555555;
      -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
              border-radius: 3px;
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      -moz-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out;
      text-transform: uppercase;
      text-align: center; }
      .cookie__wrapper .cookie__container .cookie__button:hover {
        background-color: transparent;
        cursor: pointer; }

input[type="submit"] {
  padding: 10px 20px;
  border: 1px solid #555555;
  text-decoration: none;
  color: #fff;
  background-color: #555555;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  -moz-transition: .3s linear;
  transition: .3s linear;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  text-transform: uppercase; }
  input[type="submit"]:hover {
    background-color: #fff;
    color: #555555;
    cursor: pointer; }

.wpcf7-not-valid-tip {
  font-size: 16px; }

.screen-reader-response {
  display: none; }

input, textarea {
  width: 100%;
  font-family: 'Oswald', sans-serif; }

a.btn--main {
  display: inline-block;
  padding: 30px 60px;
  background-color: red;
  position: relative;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  border: 2px solid red;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center; }
  a.btn--main:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: red; }
  @media (max-width: 500px) {
    a.btn--main {
      padding: 15px 30px;
      font-size: 18px; } }

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
  height: 15px;
  width: 15px;
  display: none !important; }
  .slick-arrow.slick-prev {
    left: 0; }
  .slick-arrow.slick-next {
    right: 0; }

.slick-dots {
  display: none !important; }

.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer;
  border: 2px solid #4e4e4d;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  margin-top: 25px; }
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 5px; }

.slicknav_menu {
  *zoom: 1;
  display: none; }
  @media (max-width: 850px) {
    .slicknav_menu {
      display: block; } }
  .slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left; }
  .slicknav_menu .slicknav_icon {
    float: left;
    width: 25px;
    height: 20px;
    margin: 0.188em 0 0 0.438em; }
    .slicknav_menu .slicknav_icon:before {
      background: transparent;
      width: 25px;
      height: 20px;
      display: block;
      content: "";
      position: absolute; }
  .slicknav_menu .slicknav_no-text {
    margin: 0; }
  .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 25px;
    height: 2px;
    color: #555555;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(85, 85, 85, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(85, 85, 85, 0.25); }
  .slicknav_menu:before {
    content: " ";
    display: table; }
  .slicknav_menu:after {
    content: " ";
    display: table;
    clear: both; }

.slicknav_nav {
  clear: both;
  position: absolute;
  top: 90px;
  left: 0;
  display: block;
  z-index: 99;
  width: 100%;
  background-color: #f6f6f6; }
  .slicknav_nav ul {
    display: block; }
  .slicknav_nav li {
    display: block;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #555555; }
    .slicknav_nav li:first-child {
      border-top: 2px solid #555555; }
    .slicknav_nav li.menu-item-has-children.slicknav_open {
      padding-bottom: 0;
      padding: 10px 0 0;
      border: none; }
      .slicknav_nav li.menu-item-has-children.slicknav_open > ul {
        padding-top: 10px; }
        .slicknav_nav li.menu-item-has-children.slicknav_open > ul li {
          background-color: #e0e0e0; }
  .slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em; }
  .slicknav_nav .slicknav_item {
    cursor: pointer; }
    .slicknav_nav .slicknav_item a {
      display: inline; }
  .slicknav_nav .slicknav_row {
    display: block; }
  .slicknav_nav a {
    display: block;
    text-decoration: none;
    color: #4e4e4d;
    text-transform: uppercase; }
  .slicknav_nav .slicknav_parent-link a {
    display: inline; }

.slicknav_brand {
  float: left; }

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4); }
  header .container {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header .container .logo__wrapper {
      max-width: 350px;
      padding: 10px 0; }
      header .container .logo__wrapper img {
        height: 80px; }
    @media (max-width: 850px) {
      header .container nav {
        display: none; } }
    header .container nav .menu-main-menu-container > ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      text-transform: uppercase;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      header .container nav .menu-main-menu-container > ul li {
        padding: 10px 10px;
        margin-left: 40px;
        position: relative;
        border-bottom: 2px solid rgba(85, 85, 85, 0);
        -webkit-transition: .3s linear;
        -o-transition: .3s linear;
        -moz-transition: .3s linear;
        transition: .3s linear;
        white-space: nowrap;
        position: relative;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px; }
        header .container nav .menu-main-menu-container > ul li:before {
          content: '/';
          position: absolute;
          right: -20px; }
        header .container nav .menu-main-menu-container > ul li:last-of-type:before {
          content: none; }
        @media (max-width: 1050px) {
          header .container nav .menu-main-menu-container > ul li {
            margin-left: 5px; } }
        @media (max-width: 900px) {
          header .container nav .menu-main-menu-container > ul li {
            padding: 10px 5px; } }
        header .container nav .menu-main-menu-container > ul li > a {
          text-decoration: none;
          color: #555555;
          -webkit-transition: .3s linear;
          -o-transition: .3s linear;
          -moz-transition: .3s linear;
          transition: .3s linear; }
        header .container nav .menu-main-menu-container > ul li.menu-item-has-children ul {
          position: absolute;
          visibility: hidden;
          opacity: 0;
          -webkit-transition: visibility 0s, opacity 0.5s linear;
          -o-transition: visibility 0s, opacity 0.5s linear;
          -moz-transition: visibility 0s, opacity 0.5s linear;
          transition: visibility 0s, opacity 0.5s linear;
          display: block;
          padding-top: 12px;
          min-width: 165px;
          left: -20px; }
          header .container nav .menu-main-menu-container > ul li.menu-item-has-children ul li {
            margin-left: 0;
            background-color: #fff;
            -webkit-border-radius: 0px;
               -moz-border-radius: 0px;
                    border-radius: 0px; }
            header .container nav .menu-main-menu-container > ul li.menu-item-has-children ul li:before {
              content: none; }
            header .container nav .menu-main-menu-container > ul li.menu-item-has-children ul li:first-child {
              margin-top: 25px; }
            header .container nav .menu-main-menu-container > ul li.menu-item-has-children ul li:last-child {
              -webkit-border-bottom-left-radius: 4px;
                 -moz-border-radius-bottomleft: 4px;
                      border-bottom-left-radius: 4px;
              -webkit-border-bottom-right-radius: 4px;
                 -moz-border-radius-bottomright: 4px;
                      border-bottom-right-radius: 4px; }
            header .container nav .menu-main-menu-container > ul li.menu-item-has-children ul li a {
              color: #555555; }
            header .container nav .menu-main-menu-container > ul li.menu-item-has-children ul li:hover a {
              color: #e6ce81; }
        header .container nav .menu-main-menu-container > ul li.menu-item-has-children:hover ul {
          visibility: visible;
          opacity: 1; }
        header .container nav .menu-main-menu-container > ul li:hover a {
          color: #e6ce81; }

footer {
  background-color: #555555;
  width: 100%;
  min-height: 50px;
  margin-top: 50px;
  position: relative; }
  footer .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px; }
    @media (max-width: 650px) {
      footer .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        footer .container p {
          padding: 10px;
          -webkit-flex-basis: auto;
              -ms-flex-preferred-size: auto;
                  flex-basis: auto; } }
    footer .container p {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 25%;
         -moz-box-flex: 0;
          -ms-flex: 0 1 25%;
              flex: 0 1 25%;
      font-size: 16px;
      line-height: 24px;
      margin-left: 30px;
      color: #fff;
      position: relative; }
      footer .container p:first-child {
        margin-left: 0; }
      footer .container p a {
        text-decoration: none;
        color: #fff;
        -webkit-transition: .3s all linear;
        -o-transition: .3s all linear;
        -moz-transition: .3s all linear;
        transition: .3s all linear; }
        footer .container p a:hover {
          color: #e6ce81; }
      footer .container p.tel:before {
        content: '\f095';
        position: absolute;
        font-family: FontAwesome;
        font-size: 20px;
        line-height: 24px;
        left: -25px; }
      footer .container p.email:before {
        content: '\f003';
        position: absolute;
        font-family: FontAwesome;
        font-size: 20px;
        line-height: 24px;
        left: -30px; }
      footer .container p.adres:before {
        content: '\f041';
        position: absolute;
        font-family: FontAwesome;
        font-size: 20px;
        line-height: 24px;
        left: -25px; }
  footer .arrow-up {
    position: fixed;
    right: 0;
    bottom: 150px;
    height: 30px;
    width: 30px;
    -webkit-transition: .1s all linear;
    -o-transition: .1s all linear;
    -moz-transition: .1s all linear;
    transition: .1s all linear; }
    footer .arrow-up i {
      font-size: 30px;
      height: 100%;
      color: #555555; }
    footer .arrow-up:hover {
      bottom: 155px;
      cursor: pointer; }

.slider {
  height: 700px;
  width: 100%;
  position: relative; }
  @media (max-width: 500px) {
    .slider {
      height: 500px; } }
  .slider .slide__single {
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    -moz-background-size: cover;
      -o-background-size: cover;
         background-size: cover;
    background-position: cover;
    border-bottom: 7px solid #555555; }
    @media (max-width: 500px) {
      .slider .slide__single {
        height: 500px; } }
  .slider--content {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; }
  .slider__bg {
    text-align: center;
    position: absolute;
    height: 100%;
    z-index: 99;
    background-color: rgba(85, 85, 85, 0);
    padding: 15px;
    width: 100%; }
  .slider--text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: left;
    width: 100%; }
    .slider--text p {
      color: #555555;
      font-size: 24px;
      line-height: 30px;
      font-weight: 500;
      text-align: left;
      margin: 20px 0; }
      @media (max-width: 500px) {
        .slider--text p {
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 25px; } }
      .slider--text p.tel {
        padding-left: 40px;
        position: relative; }
        .slider--text p.tel a {
          text-decoration: none;
          color: #555555; }
          .slider--text p.tel a:hover {
            text-decoration: underline; }
        .slider--text p.tel:before {
          content: '\f095';
          font-family: FontAwesome;
          position: absolute;
          font-size: 30px;
          left: 5px; }
    .slider--text h1 {
      text-align: left;
      color: #555555; }
    .slider--text a {
      margin-top: 30px; }

section.features {
  margin-bottom: 75px;
  text-align: center;
  padding: 50px 0; }
  section.features h2 {
    position: relative; }
    section.features h2:before {
      position: absolute;
      content: '';
      left: 0;
      bottom: -15px;
      width: 90px;
      height: 2px;
      border-bottom: 2px solid #e6ce81;
      left: 50%;
      -webkit-transform: translateX(-50%);
         -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
           -o-transform: translateX(-50%);
              transform: translateX(-50%); }
  section.features p {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 40px; }
  section.features a {
    font-size: 24px;
    padding: 20px 30px;
    border: 2px solid #555555;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    -moz-transition: .3s all;
    transition: .3s all;
    color: #555555; }
    section.features a:hover {
      background-color: #555555;
      color: #fff; }
  section.features .sides-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px; }
    section.features .sides-wrapper .side--left,
    section.features .sides-wrapper .side--right {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 50%;
         -moz-box-flex: 0;
          -ms-flex: 0 1 50%;
              flex: 0 1 50%;
      padding: 25px; }
      section.features .sides-wrapper .side--left h3,
      section.features .sides-wrapper .side--right h3 {
        position: relative;
        margin-bottom: 40px; }
        section.features .sides-wrapper .side--left h3:before,
        section.features .sides-wrapper .side--right h3:before {
          position: absolute;
          content: '';
          left: 0;
          bottom: -15px;
          width: 90px;
          height: 2px;
          border-bottom: 2px solid #e6ce81;
          left: 50%;
          -webkit-transform: translateX(-50%);
             -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
               -o-transform: translateX(-50%);
                  transform: translateX(-50%); }
      section.features .sides-wrapper .side--left p,
      section.features .sides-wrapper .side--right p {
        text-align: justify; }
    section.features .sides-wrapper .side--left {
      border-right: 2px solid #555555; }
      @media (max-width: 500px) {
        section.features .sides-wrapper .side--left {
          border-right: 0px;
          border-bottom: 2px solid #555555; } }
    @media (max-width: 500px) {
      section.features .sides-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        section.features .sides-wrapper .side--left,
        section.features .sides-wrapper .side--right {
          -webkit-flex-basis: auto;
              -ms-flex-preferred-size: auto;
                  flex-basis: auto;
          padding: 25px 0; } }

section.knowledge {
  background-image: url("../img/knowledge.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
  position: relative;
  width: 100%; }
  section.knowledge .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
  section.knowledge .container {
    padding-top: 50px;
    padding-bottom: 70px;
    color: red;
    text-align: center;
    position: relative;
    z-index: 99; }
    section.knowledge .container p {
      margin-bottom: 50px;
      text-align: left;
      color: #fff;
      font-size: 30px;
      line-height: 45px;
      text-align: center; }
      @media (max-width: 500px) {
        section.knowledge .container p {
          font-size: 24px;
          line-height: 30px; } }
    section.knowledge .container a {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 250px;
         -moz-box-flex: 1;
          -ms-flex: 1 0 250px;
              flex: 1 0 250px;
      max-height: 70px;
      font-size: 24px;
      padding: 20px 30px;
      border: 2px solid #fff;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: .3s all;
      -o-transition: .3s all;
      -moz-transition: .3s all;
      transition: .3s all;
      color: #fff; }
      section.knowledge .container a:hover {
        background-color: #555555;
        color: #fff; }
    @media (max-width: 767px) {
      section.knowledge .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        padding-top: 50px; }
        section.knowledge .container a {
          -webkit-flex-basis: auto;
              -ms-flex-preferred-size: auto;
                  flex-basis: auto;
          max-width: 220px;
          font-size: 18px;
          padding: 10px 15px; }
        section.knowledge .container p {
          margin-right: 0; } }

section.orto {
  padding: 55px 0 75px 0; }
  section.orto .orto__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  section.orto .orto__single {
    width: 50%;
    padding-left: 40px;
    position: relative; }
    section.orto .orto__single:before {
      content: '\f178';
      font-family: FontAwesome;
      position: absolute;
      left: 0;
      top: 10px;
      font-size: 30px; }
    @media (max-width: 600px) {
      section.orto .orto__single {
        width: 100%; } }

section.contact-banner {
  background-color: #555555;
  padding: 30px 0; }
  section.contact-banner .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    section.contact-banner .container h3 {
      color: #fff;
      font-size: 48px;
      text-transform: uppercase; }
    section.contact-banner .container a {
      padding: 10px 20px;
      color: #fff;
      border: 2px solid #fff;
      max-height: 50px;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 24px;
      -webkit-transition: .3s linear;
      -o-transition: .3s linear;
      -moz-transition: .3s linear;
      transition: .3s linear; }
      section.contact-banner .container a:hover {
        background-color: #fff;
        color: #555555; }
    @media (max-width: 767px) {
      section.contact-banner .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }

section.patient {
  margin-top: 50px; }
  section.patient .patient__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 700px) {
      section.patient .patient__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  section.patient .patient__single {
    background-color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 350px;
       -moz-box-flex: 0;
        -ms-flex: 0 1 350px;
            flex: 0 1 350px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    text-align: center; }
    section.patient .patient__single .text {
      padding: 15px; }
    section.patient .patient__single h3 {
      font-size: 26px;
      line-height: 1.5em; }
    section.patient .patient__single p {
      font-size: 18px;
      line-height: 1.5em;
      text-align: justify; }
    @media (max-width: 700px) {
      section.patient .patient__single {
        -webkit-flex-basis: auto;
            -ms-flex-preferred-size: auto;
                flex-basis: auto;
        background-color: #F7F7F7; }
        section.patient .patient__single img {
          max-width: 350px; } }

section.kontakt {
  padding: 40px 0; }
  section.kontakt .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    section.kontakt .container .side--left {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 50%;
         -moz-box-flex: 0;
          -ms-flex: 0 1 50%;
              flex: 0 1 50%;
      padding: 15px; }
      section.kontakt .container .side--left h2 {
        position: relative;
        text-align: left; }
        section.kontakt .container .side--left h2:before {
          position: absolute;
          content: '';
          left: 0;
          bottom: -15px;
          width: 90px;
          height: 2px;
          border-bottom: 2px solid #555555; }
      section.kontakt .container .side--left h3 {
        text-align: left; }
        section.kontakt .container .side--left h3 i {
          margin-right: 10px; }
      section.kontakt .container .side--left p {
        font-size: 20px; }
        section.kontakt .container .side--left p a {
          text-decoration: none;
          color: #555555;
          -webkit-transition: .3s all linear;
          -o-transition: .3s all linear;
          -moz-transition: .3s all linear;
          transition: .3s all linear; }
          section.kontakt .container .side--left p a:hover {
            color: #e6ce81; }
    section.kontakt .container .side--right {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 50%;
         -moz-box-flex: 0;
          -ms-flex: 0 1 50%;
              flex: 0 1 50%;
      padding: 15px; }
      section.kontakt .container .side--right h2 {
        text-align: left;
        position: relative; }
        section.kontakt .container .side--right h2:before {
          position: absolute;
          content: '';
          left: 0;
          bottom: -15px;
          width: 90px;
          height: 2px;
          border-bottom: 2px solid #555555; }
    @media (max-width: 600px) {
      section.kontakt .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        section.kontakt .container .side--left {
          -webkit-flex-basis: auto;
              -ms-flex-preferred-size: auto;
                  flex-basis: auto; }
        section.kontakt .container .side--right {
          -webkit-flex-basis: auto;
              -ms-flex-preferred-size: auto;
                  flex-basis: auto; } }

section.map-wrapper {
  max-width: 100%; }
  section.map-wrapper #map {
    height: 500px; }

section.cennik {
  padding: 40px 0; }
  section.cennik p {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding: 10px;
    width: 100%;
    margin-right: 20px; }
    @media (max-width: 400px) {
      section.cennik p {
        font-size: 16px; } }
  section.cennik h3 {
    color: #555555;
    margin-top: 40px; }
  section.cennik .cennik--wiersz {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 2px solid #555555; }
    section.cennik .cennik--wiersz:last-child {
      border-bottom: none; }
    section.cennik .cennik--wiersz:nth-child(2n) {
      background-color: #e6ce81; }
  section.cennik .cennik--cena {
    -webkit-flex-basis: 200px;
        -ms-flex-preferred-size: 200px;
            flex-basis: 200px; }
    @media (max-width: 400px) {
      section.cennik .cennik--cena {
        -webkit-flex-basis: 150px;
            -ms-flex-preferred-size: 150px;
                flex-basis: 150px; } }
  section.cennik .cennik--opis {
    border-right: 2px solid #555555; }
