@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  overflow-x: hidden;
  background-color: #F7F7F7;
  letter-spacing: -0.25px; }
  body .page-main-content {
    min-height: -webkit-calc(100vh - 70px);
    min-height: -moz-calc(100vh - 70px);
    min-height: calc(100vh - 70px); }

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .container {
      padding: 0 15px; } }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-align: center;
  margin: 15px 0;
  line-height: 1.5em;
  letter-spacing: -0.2px; }
  h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    color: #00937c; }

h1 {
  font-size: 40px; }
  @media (max-width: 500px) {
    h1 {
      font-size: 25px; } }

h2 {
  font-size: 30px; }
  @media (max-width: 500px) {
    h2 {
      font-size: 20px; } }

h3 {
  font-size: 25px; }
  @media (max-width: 500px) {
    h3 {
      font-size: 18px; } }

a {
  line-height: 1.5em; }

p, li {
  margin: 15px 0;
  line-height: 1.5em; }

.spacer {
  min-height: 135px;
  width: 100%; }

.cookie__wrapper {
  width: 100%;
  background-color: #292935;
  position: fixed;
  bottom: 0;
  left: 0; }
  .cookie__wrapper .cookie__container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 80px; }
    .cookie__wrapper .cookie__container p {
      font-size: 16px;
      color: #fff; }
      .cookie__wrapper .cookie__container p a {
        color: inherit; }
    .cookie__wrapper .cookie__container .cookie__button {
      margin-left: 15px;
      font-size: 14px;
      padding: 8px 20px;
      color: #fff;
      background-color: #00937c;
      border: 1px solid #00937c;
      -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
              border-radius: 3px;
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      -moz-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out;
      text-transform: uppercase;
      text-align: center; }
      .cookie__wrapper .cookie__container .cookie__button:hover {
        background-color: transparent;
        cursor: pointer; }

input[type="submit"] {
  padding: 10px 20px;
  border: 1px solid #00937c;
  text-decoration: none;
  color: #fff;
  background-color: #00937c;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  -moz-transition: .3s linear;
  transition: .3s linear;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  text-transform: uppercase; }
  input[type="submit"]:hover {
    background-color: #fff;
    color: #00937c;
    cursor: pointer; }

.wpcf7-not-valid-tip {
  font-size: 16px; }

.screen-reader-response {
  display: none; }

input, textarea {
  width: 100%;
  font-family: 'Oswald', sans-serif; }

a.btn--main {
  display: inline-block;
  padding: 30px 60px;
  background-color: red;
  position: relative;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  border: 2px solid red;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center; }
  a.btn--main:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: red; }
  @media (max-width: 500px) {
    a.btn--main {
      padding: 15px 30px;
      font-size: 18px; } }

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
  height: 15px;
  width: 15px;
  display: none !important; }
  .slick-arrow.slick-prev {
    left: 0; }
  .slick-arrow.slick-next {
    right: 0; }

.slick-dots {
  display: none !important; }

header {
  background-color: #00937c;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4); }
  header .container {
    position: relative; }
    header .container h1 {
      margin: 0; }
      header .container h1 a {
        text-decoration: none;
        color: #fff; }
    header .container nav .menu-main-menu-container ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      header .container nav .menu-main-menu-container ul li {
        margin: 0 10px;
        padding: 5px 10px;
        border-bottom: 1px solid #00937c;
        -webkit-transition: .3s linear all;
        -o-transition: .3s linear all;
        -moz-transition: .3s linear all;
        transition: .3s linear all; }
        header .container nav .menu-main-menu-container ul li a {
          text-decoration: none;
          color: #fff;
          white-space: nowrap; }
        header .container nav .menu-main-menu-container ul li.highlight a {
          color: #bc9412;
          font-weight: bold; }
        header .container nav .menu-main-menu-container ul li.highlight:hover {
          border-bottom: 1px solid #bc9412; }
        header .container nav .menu-main-menu-container ul li:hover {
          border-bottom: 1px solid #fff; }
        @media (max-width: 500px) {
          header .container nav .menu-main-menu-container ul li {
            font-size: 0.75em;
            margin: 0 5px; } }
  @media (max-width: 500px) {
    header {
      padding: 10px 0; } }

footer {
  width: 100%;
  min-height: 50px;
  padding: 10px 0;
  background-color: #333;
  position: relative; }
  footer .arrow-up {
    position: absolute;
    right: 15px;
    bottom: 20px;
    color: #fff;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    -moz-transition: .3s linear;
    transition: .3s linear; }
    footer .arrow-up i {
      font-size: 30px; }
    footer .arrow-up:hover {
      bottom: 25px;
      cursor: pointer; }
  footer p {
    color: #fff;
    padding: 0 30px; }
  footer .img-wrapper {
    max-width: 250px;
    margin: 10px; }
  footer .images-module {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }

.slider-banners {
  position: relative; }
  .slider-banners .images--wrapper {
    width: 100%;
    min-height: 600px; }
    .slider-banners .images--wrapper .image-single {
      width: 100%;
      height: 100%;
      min-height: 600px;
      background-position: center;
      -moz-background-size: cover;
        -o-background-size: cover;
           background-size: cover;
      background-repeat: no-repeat; }
    @media (max-width: 700px) {
      .slider-banners .images--wrapper {
        min-height: 400px; }
        .slider-banners .images--wrapper .image-single {
          min-height: 400px; } }
  .slider-banners .text-block {
    position: absolute;
    top: 50%;
    top: 0;
    height: 100%;
    min-width: 350px;
    padding: 150px 30px 30px;
    background-color: rgba(0, 147, 124, 0.6);
    text-align: center; }
    .slider-banners .text-block p {
      color: #fff; }
      .slider-banners .text-block p.year {
        font-size: 1.5em; }
    .slider-banners .text-block hr {
      max-width: 150px; }
    .slider-banners .text-block img {
      max-width: 200px; }
    @media (max-width: 700px) {
      .slider-banners .text-block {
        width: 50%;
        min-width: auto;
        padding: 15px; }
        .slider-banners .text-block img {
          max-width: 200px; } }
    @media (max-width: 450px) {
      .slider-banners .text-block img {
        max-width: 100%; } }

.welcome {
  border-bottom: 2px solid #00937c;
  margin-bottom: 75px;
  position: relative;
  padding-bottom: 75px; }
  .welcome h2 {
    color: #333;
    position: relative;
    padding-bottom: 40px; }
    .welcome h2:before {
      position: absolute;
      left: 50%;
      bottom: 20px;
      -webkit-transform: translateX(-50%);
         -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
           -o-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 100px;
      border-bottom: 2px solid #00937c;
      content: ''; }
  .welcome p {
    text-align: justify; }
    .welcome p strong {
      font-weight: 600; }
  .welcome h3 {
    color: #333;
    font-size: 22px; }
  .welcome img {
    border: 2px solid #00937c;
    max-width: 300px;
    display: block;
    position: absolute;
    bottom: -75px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%); }
  @media (max-width: 500px) {
    .welcome {
      padding-bottom: 50px;
      margin-bottom: 50px; }
      .welcome img {
        max-width: 200px;
        bottom: -50px; } }

.educational-methods {
  padding: 20px 0; }
  .educational-methods .container p {
    text-align: justify; }
    .educational-methods .container p strong {
      font-weight: 600; }
  .educational-methods .container h2 {
    margin-top: 40px;
    color: #333; }
  .educational-methods .container .methods-wrapper {
    margin-top: 20px; }
    .educational-methods .container .methods-wrapper .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .educational-methods .container .methods-wrapper .row .method-single {
        width: 50%; }
      .educational-methods .container .methods-wrapper .row.last .method-single {
        border-bottom: none; }
    .educational-methods .container .methods-wrapper .method-single {
      text-align: center;
      padding: 15px;
      border-right: 3px solid #00937c;
      border-bottom: 3px solid #00937c; }
      .educational-methods .container .methods-wrapper .method-single:last-of-type {
        border-right: none; }
      @media (max-width: 500px) {
        .educational-methods .container .methods-wrapper .method-single {
          padding: 15px 5px; } }
      .educational-methods .container .methods-wrapper .method-single .number {
        font-size: 40px;
        line-height: 1.5em;
        font-weight: bold;
        border: 1px solid #333;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
        width: 60px;
        height: 60px;
        margin: 0 auto 20px; }
      .educational-methods .container .methods-wrapper .method-single .title {
        font-weight: bold;
        font-size: 24px; }
        @media (max-width: 500px) {
          .educational-methods .container .methods-wrapper .method-single .title {
            font-size: 16px; } }
      .educational-methods .container .methods-wrapper .method-single.first {
        border-right: none; }

.topics {
  background-color: #00937c;
  padding: 30px 15px;
  margin-top: 40px; }
  .topics h2 {
    margin: 0 0 20px;
    font-weight: 300; }
  .topics .topics-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .topics .topics-wrapper .topic-single {
      padding: 10px 20px;
      margin: 5px;
      color: #fff;
      border: 1px solid #fff;
      -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
              border-radius: 10px; }

.summary {
  padding: 20px 0; }
  .summary h3 {
    color: #333; }
  .summary ul li {
    padding: 10px 10px 10px 25px;
    position: relative; }
    .summary ul li:before {
      content: '\f00c';
      font-family: FontAwesome;
      position: absolute;
      left: 0;
      color: #00937c; }

.faculty {
  padding: 20px 0 30px; }
  .faculty h2 {
    color: #333;
    position: relative;
    padding-bottom: 40px; }
    .faculty h2:before {
      position: absolute;
      left: 50%;
      bottom: 20px;
      -webkit-transform: translateX(-50%);
         -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
           -o-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 100px;
      border-bottom: 2px solid #00937c;
      content: ''; }
  .faculty .icons {
    text-align: center; }
    .faculty .icons i {
      font-size: 100px; }
      .faculty .icons i:nth-child(3) {
        font-size: 150px; }
      .faculty .icons i:nth-child(2n+2) {
        font-size: 125px; }
    @media (max-width: 550px) {
      .faculty .icons i {
        font-size: 60px; }
        .faculty .icons i:nth-child(3) {
          font-size: 90px; }
        .faculty .icons i:nth-child(2n+2) {
          font-size: 75px; } }
    @media (max-width: 400px) {
      .faculty .icons i {
        font-size: 40px; }
        .faculty .icons i:nth-child(3) {
          font-size: 70px; }
        .faculty .icons i:nth-child(2n+2) {
          font-size: 55px; } }
  .faculty h3 {
    text-align: left;
    color: #333; }
  .faculty ul li {
    padding: 5px 5px 5px 15px;
    position: relative; }
    .faculty ul li:before {
      content: "• ";
      color: #00937c;
      position: absolute;
      left: 0; }
    .faculty ul li span {
      font-weight: 600; }

.venue {
  padding-bottom: 50px; }
  .venue h2,
  .venue h3 {
    color: #333;
    text-align: left; }
  .venue p {
    text-align: justify; }
    .venue p strong {
      font-weight: 600; }
    .venue p a {
      text-decoration: none;
      color: #00937c; }
  .venue .address {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px; }
    .venue .address .text,
    .venue .address .image {
      max-width: 50%; }
    .venue .address .text {
      margin-right: 35px; }
    .venue .address .image img {
      border: 1px solid #00937c; }
    @media (max-width: 767px) {
      .venue .address {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .venue .address .text,
        .venue .address .image {
          max-width: 100%; }
        .venue .address .text {
          margin: 0; } }
  .venue #map {
    height: 500px; }

.programme {
  padding: 20px 0; }
  .programme h2 {
    color: #333;
    position: relative;
    padding-bottom: 40px; }
    .programme h2:before {
      position: absolute;
      left: 50%;
      bottom: 20px;
      -webkit-transform: translateX(-50%);
         -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
           -o-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 100px;
      border-bottom: 2px solid #00937c;
      content: ''; }
  .programme ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center; }
    .programme ul.tabs li {
      background: none;
      color: #222;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
      margin: 0; }
      .programme ul.tabs li.current {
        background: #ededed;
        color: #222; }
  .programme .tab-content {
    display: none;
    background: #ededed;
    padding: 15px;
    max-width: 900px;
    margin: 0 auto; }
    .programme .tab-content.current {
      display: inherit; }
    .programme .tab-content .title {
      font-size: 20px;
      padding: 15px 5px;
      color: #00937c; }
    .programme .tab-content .items-wrapper .item-single {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      border-bottom: 1px solid #333; }
      .programme .tab-content .items-wrapper .item-single .hours {
        border-right: 1px solid #333;
        padding: 5px;
        min-width: 100px; }
      .programme .tab-content .items-wrapper .item-single .topic {
        padding: 5px;
        text-align: right; }
      .programme .tab-content .items-wrapper .item-single.highlight {
        background-color: rgba(0, 147, 124, 0.2); }
      .programme .tab-content .items-wrapper .item-single:last-of-type {
        border-bottom: none; }

.uniwersal h1,
.uniwersal h2,
.uniwersal h3,
.uniwersal h4 {
  color: #333; }

.uniwersal h2 {
  color: #333;
  position: relative;
  padding-bottom: 40px; }
  .uniwersal h2:before {
    position: absolute;
    left: 50%;
    bottom: 20px;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100px;
    border-bottom: 2px solid #00937c;
    content: ''; }

.uniwersal a {
  text-decoration: none;
  color: #00937c; }

.uniwersal .images-module {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .uniwersal .images-module .img-wrapper {
    max-width: 200px;
    margin: 10px;
    text-align: center; }

.uniwersal p.contact {
  font-size: 20px;
  text-align: center; }
  .uniwersal p.contact strong {
    font-weight: 600; }
