$mainDark: #333;
$gold: #e1c787;
// $darkLight: #ababab;
$darkLight: #C0C0C0;
$lightGray: #bfbfbf;

$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}