$mainDark: #4f4f4f;
$blue: #2a83a6;
$green: #8fc533;
$greenLight: #edefd9;
$greenSecondary: #38b87d;
$yellow: #937900;
$orange: #ca7f2f;
$grey: #838383;
$borderColor: #a9a9a9;
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}
.giant {
    font-size: 46px;
}
.font-big {
    font-size: 36px;
}

.font-semi-big {
    font-size: 28px;
}
.font-mid-plus {
    font-size: 23px;
}
.font-mid {
    font-size: 20px;
}
.font-sm {
    font-size: 18px;
}

.font-white {
    color: #fff;
    line-height: 1.1;
}

.font-bold {
    font-weight: bold;
}

.font-light {
    font-weight: 300;
}

.background-standard {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-bottom {
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    &--nodesc {
        min-height: 220px;
    }
}
.green {
    color: $green;
}
.greenSecondary {
    color: $greenSecondary;
}
.blue {
    color: $blue;
}
.orange {
    color: $orange;
}
.yellow {
    color: $yellow;
}
.uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $mainDark;
}

h1 {
    @extend .font-big;
}
h2 {
    @extend .font-semi-big;
    margin-bottom: 20px;
}
h3 {
    @extend .font-mid;
    margin: 20px 0;
}
h4 {
    @extend .font-sm;
    margin: 0 0 20px;
}
p {
    margin-bottom: 15px;
}
.separator {
    max-width: 1030px;
    margin: 15px auto;
    height: 1px;
    width: 100%;
    background-color: $borderColor;
    &--full {
        max-width: 100%;
    }
}
.section-margin {
    margin-bottom: 30px;
}
img {
    max-width: 100%;
    height: auto;
}
.images-section {
    display: flex;
    &--center {
        justify-content: center;
        .images-section__single-image {
            text-align: center;
        }
    }
    &__single-image {
        width: 50%;
    }
    @media (max-width: 767px) {
        flex-wrap: wrap;
        &__single-image {
            width: 100%;
        }
    }
}
.text-left {
    text-align: left;
}
.border-left {
    border-left: 1px solid $borderColor;
}
.third {
    display: flex;
    &__two-thirds {
        width: 66.66%;
        padding: 10px 20px;
    }
    &__one-third {
        width: 33.333%;
        padding: 10px 20px;
    }
}
span {
    &.underline {
        text-decoration: underline;
    }
}
.oval-list {
    li {
        @extend .font-light;
        margin-bottom: 5px;
    }
}
.border-bottom {
    border-bottom: 1px solid $borderColor;
}
.no-padding {
    border-bottom: 0px;
}