body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(247, 247, 247);
}
ol {
  list-style-type: decimal;
}
#container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: flex;
  .logo {
    width: 30%;
    height: 20%;
    padding-top: 10px;
    color: black;
  }
  .nav {
    width: 70%;
    height: 20%;
    padding: 5px;
    #oNas,
    #Współpraca,
    #Kontakt {
      width: 33%;
      padding: 50px;
      float: left;
      color: black;
    }
  }
}
.heading{
    font-size: 25px;
    color: black;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
.content {
  width: 100%;
  padding: 40px;
  color: black;
  .zawartosc {
    display: flex;
    margin-bottom: 20px;
    .photo,
    .text {
      width: 50%;
    }
    .text {
      margin-top: 10px;
      padding: 10px;
    }
    
  }
  #dane {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    color: black;
    font-size: 18px;
    h1 {
      margin-left: 20px;
    }
  }
  .rectangle {
    // align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .tile1 {
      width: 30%;
      padding: 10px;
      position: relative;
      min-height: 300px;
      background-color: white;
      margin-bottom: 20px;
    //   border: 1px solid black;
      .Qform {
        padding: 10px;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
      }
      .zdjecie {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        transition: 1s opacity;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 9;
        background-color: white;
      }
      &:hover {
        .zdjecie {
          opacity: 0;
        }
      }
    }
    .tile2 {
      width: 20%;
      height: 20%;
      margin: 10px;
      background-color: grey;
      float: left;
    }
  }

  table {
    color: black;
    float: left;
    margin-top: 30px;
  }
  #map {
    float: left;
  }
}
.footer {
  clear: both;
  height: 5%;
  text-align: center;
  font-size: 12px;
  color: black;
}
a.link {
  color: black;
  text-decoration: none;
}
a.logolink {
  color: white;
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
