body {
    font-size: 16px;
    line-height: 1.5;    
    font-family: 'Roboto', sans-serif;
    .page-container-wrapper {
        margin-top: 93px;
        min-height: calc(100vh - 265px);
    }
}

.container {
    max-width: 1260px;
    padding: 0 10px;
    margin: 0 auto;
}
.container-small {
    max-width: 1080px;
    padding: 0 10px;
    margin: 0 auto;
}
.btn {
    border: 1px solid $grey;
    margin: 0px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    transition: .2s linear all;
    &--blue {
        color: $blue;
        &:hover {
            background-color: rgba($blue, .2);
        }
    }
    &--no_border {
        border: 0px;
    }
    &-redirect {
        display: inline-block;
        margin-bottom: 20px;
        font-size: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.three-col {
    display: flex;
 
    &--margin-bottom {
        margin-bottom: 30px;
    }
    &__image-wrapper {
        // text-align: center;
        margin-bottom: 25px;
     
    }
    &__image-middle {
        display: flex;
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }

    }
    &--left, &--right {
        width: 37%;
        padding: 10px 20px;
        @media (max-width: 767px) {
            width: 100%;
            padding: 10px 15px;
        }
    }
    &--middle {
        width: 24%;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
}

form {
    max-width: 570px;
    margin: 30px auto;
    .input {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
       
        label {
            @extend .font-sm;
            @extend .font-light;
        }
        input, textarea {
            border:none;
            background-image:none;
            background-color:transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            width: 100%;
            max-width: 370px;
            background-color: #f9f9f9;
            border: 1px solid $borderColor;
            padding: 5px 10px;
        }
        textarea {
            min-height: 180px;
            overflow: scroll-y;
        }
        &.submit {
            width: 100%;
            input {
                background-color: #fff;
                border: 0px;
                max-width: 100%;
                text-align: right;
                display: inline-block;
            }
        }
        @media (max-width: 767px) {
            flex-wrap: wrap;
            label, input {
                display: block;
                width: 100%;
                max-width: 100%;
                margin-bottom: 10px;
            }
        }

    }
    .required {
        color: red;
    }
}