body {
    font-size: 16px;
    line-height: 1.5;    
    font-family: 'Roboto', sans-serif;
    .page-container-wrapper {
        margin-top: 93px;
        min-height: calc(100vh - 265px);
    }
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}
.container-small {
    max-width: 1060px;
    margin: 0 auto;
}
.btn {
    border: 1px solid $grey;
    margin: 0px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    &--blue {
        color: $blue;
    
    }
    &-redirect {
        display: inline-block;
        margin-bottom: 20px;
        font-size: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}