section.cennik {
      padding: 40px 0;
      p {
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        padding: 10px;
        width: 100%;
        margin-right: 20px;
        @media (max-width: 400px) {
          font-size: 16px;
        }
      }
      h3 {
        color: $mainColor;
        margin-top: 40px;
      }
      .cennik {
        &--wiersz {
          display: flex;
          justify-content: space-between;
          border-bottom: 2px solid $mainColor;
          &:last-child {
            border-bottom: none;
          }
          &:nth-child(2n) {
            background-color: $headersColor
          }
        }
        &--cena {
          flex-basis: 200px;
          @media (max-width: 400px) {
            flex-basis: 150px;
          }
        }
        &--opis {
          border-right: 2px solid $mainColor;
        }
      }
    }