footer {
    margin-top: 70px;
    p, li, a {
        @extend .footer-fs;

    }
}
.footer-fs {
    font-size: 14px;
}
.footer {
    &__upper {
        display: flex;
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
        &-block {
            @media (max-width: 767px) {
                width: 50%;
                margin-bottom: 15px;
            }
            width: 20%;
            padding: 0 10px;
        }
        &-heading {
            @extend .font-sm;
            margin-bottom: 25px;
        }
        &-list {
            list-style-type: none;
            li {
                a {
                    @extend .font-light;
                }
            }
        }
        &-desc {
            @extend .font-light;
        }
    }
    &__mid {
        &-heading {
            @extend .font-sm;
            margin-bottom: 25px;
        }
        &-desc {
            @extend .font-light;
            @extend .footer-fs;
        }
        &-list {
            ul {
                display: flex;
                flex-wrap: wrap;
                max-width: 680px;
                list-style-type: none;
                text-align: left;
                margin: 20px auto;
                @media (max-width: 767px) {
                    flex-wrap: wrap;
                }
                li {
                    width: 25%;

                    @media (max-width: 767px) {
                        width: 50%;
                    }
                    a {
                        @extend .font-light;
                    }
                }
            }
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        margin: 30px 0;
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
        &-block {
            width: 25%;
            text-align: center;
            @media (max-width: 767px) {
                width: 50%;
                margin-bottom: 15px;
            }
        }
    }
    &__disclaimer {
        margin: 30px 0;
        @extend .font-light;
    }
}