footer {
    padding: 50px 0 20px;
    background-color: $black;
    color: #fff;
    position: relative;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        .footer--block {
            border-right: 1px solid $fontColor;
            padding: 10px 25px;
            width: 25%;
            text-align: center;
            color: $fontColor;
            @media (max-width: 991px) {
                width: 33%;
            }
            &:last-of-type {
                border-right: 0;
            }
            h3 {
                font-weight: 300;
                font-size: em(20);
                color: #a1a1a1;
                letter-spacing: 0.25px;
            }
            i {
                display: block;
                text-align: center;
                margin: 10px 0;
                font-size: em(24);
            }
            p {
                margin-bottom: 5px;
            }
            a {
                text-decoration: none;
                color: $fontColor;
                transition: opacity .3s linear;
                &:hover {
                    opacity: .7;
                }
            }
        }
        @media (max-width: 600px) {
            flex-direction: column;
            .footer--block {
                border-right: 0;
                border-bottom: 1px solid $fontColor;
                width: auto;
                display: flex;
                width: 80%;
                padding: 10px;
                justify-content: space-between;
                align-items: center;
                &:last-of-type {
                    border-bottom: 0;
                }
                &__header {
                    display: flex;
                    align-content: center;
                    justify-content: space-between;
                    i {
                        order: 1;
                        margin: 0 10px 0 0;
                        width: 25px;
                    }
                    h3 {
                        order: 2;
                    }
                    i,
                    h3 {
                        line-height: 24px;
                    }
                }
                &__text {
                    text-align: right;
                }
            }
        }
        @media (max-width: 400px) {
            .footer--block {
                width: 90%;
                padding: 10px 5px;
            }
        }
    }
    .copy {
        position: absolute;
        bottom: 5px;
        right: 5px;
        p {
            color: rgba(#fff, 0.3);
            font-size: 12px;
            a {
                text-decoration: none;
                color: rgba(#fff, 0.3);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}