.con {
    display: block;
    position: relative;
    height: 55px;
    padding: 10px 0;
    &:hover {
        cursor: pointer;
    }
    &.open {
        .top {
            transform: translateY(15px) rotateZ(45deg);
        }
        .bottom {
            transform: translateY(-15px) rotateZ(-45deg);
        }
        .middle {
            width: 0;
        }
    }
    .bar {
        display: block;
        height: 5px;
        border-radius: 3px;
        width: 50px;
        background: #fff;
        margin: 10px auto;
        transition: all .4s ease;
    }
    .middle {
        margin: 0 auto;
    }
}

header {
    .logo-wrapper {
        img {
            max-width: 200px;
        }
    }
    padding: 10px 0;
    background-color: $mainDark;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-transform: translateZ(0); // box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 3px 10px -1px rgba(255, 255, 255, 0.25);
    .container {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    .phone {
        display: flex;
        align-items: center;
        i {
            font-size: 55px;
            position: absolute;
            left: 0;
            top: -5px; // top: 50%;
            // transform: translateY(-50%);
        }
        a {
            font-size: 40px;
            position: relative;
            padding-left: 50px;
            &:hover {
                i {
                    animation-name: shake;
                    animation-duration: .5s;
                    transform-origin: 50% 50%;
                }
            }
            @media (max-width: 600px) and (min-width: 450px) {
                font-size: 25px;
                padding-left: 35px;
                i {
                    font-size: 35px;
                }
            }
        }
        i,
        a {
            color: $gold;
            text-decoration: none;
        }
        @media (max-width: 449px) {
            display: none;
        }
    }
    nav {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 280px;
        height: 100vh;
        overflow-y: auto;
        background-color: $mainDark;
        border-right: 2px solid #fff;
        ul {
            padding: 80px 0;
            li {
                a {
                    color: rgba(#fff, .9);
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 15px;
                    font-size: 20px;
                    font-weight: 300;
                    display: block;
                    border-bottom: 1px solid rgba(#ddd, .1);
                    position: relative;
                    z-index: 2;
                    display: block; // margin: -1px;
                    font-size: 16px;
                }
                &:last-of-type {
                    a {
                        border-bottom: 0;
                    }
                }
                &.highlight {
                    background-color: rgba($gold, .7);

                }
                &.grey {
                    background-color: rgba($lightGray, .7);
                }
            }
        }
    }
}

@keyframes shake {
    10%,
    90% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    50% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    30%,
    70% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}