header {
    transition: .3s linear box-shadow;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
    background-color: #fff;
    &.shadow {
        box-shadow: 0px 3px 5px 0px rgba(145, 145, 145, 1);
    }
    >.container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 60px;
        padding: 10px;
        .logo__wrapper {
            max-width: 170px;
            position: relative;
            z-index: 99;
            height: 60px;
            width: 170px;
            @media (max-width: 450px) {
                max-width: 140px;
            }
            @media (max-width: 350px) {
                max-width: 120px;
            }
            .logo {
                position: absolute;
                height: 100%;
                transition: .3s linear opacity;
                &.main {
                    opacity: 1;
                }
                &.second {
                    opacity: 0;
                }
            }
            &.logo-white {
                .logo {
                    // &.main {
                    //     opacity: 0;
                    // }
                    // &.second {
                    //     opacity: 1;
                    // }
                }
            }
        }
        .tel {
            position: relative;
            z-index: 99;
            align-self: center;
            a {
                text-decoration: none;
                font-size: em(24);
                color: #333;
                transition: .5s color linear;
                font-weight: 600;
                i {
                    font-size: 40px;
                    line-height: 24px;
                    color: #333;
                    transition: .5s color linear;
                }
                @media (max-width: 425px) {
                    font-size: em(20);
                    i {
                        font-size: 30px;
                    }
                }
                &:hover {
                    i {
                        animation-name: shake;
                        animation-duration: .5s;
                        transform-origin: 50% 50%;
                    }
                }
            }
            &.open {
                a {
                    // color: #fff;
                    i {
                        // color: #fff;
                    }
                }
            }
        }
        .nav-btn {
            position: relative;
            height: 27px;
            width: 35px;
            &:hover {
                opacity: .7;
            }
            &.active {
                .top {
                    transform: translateY(11px) translateX(0) rotate(45deg);
                    // background: #fff;
                }
                .middle {
                    opacity: 0;
                    // background: #fff;
                }
                .bottom {
                    transform: translateY(-11px) translateX(0) rotate(-45deg);
                    // background: #fff;
                }
            }
            span {
                background: $gold;
                border: none;
                height: 5px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: all .35s ease;
                cursor: pointer;
                &:nth-of-type(2) {
                    top: 11px;
                }
                &:nth-of-type(3) {
                    top: 22px;
                }
            }
        }
        nav {
            position: fixed;
            background: $grey;
            top: 0;
            left: 0;
            width: 100%;
            height: 0%;
            opacity: 0;
            visibility: hidden;
            transition: opacity .35s, visibility .35s, height .35s;
            // overflow: hidden;
            overflow: auto;
            max-width: 100%;
            &.open {
                opacity: 1;
                visibility: visible;
                height: calc(100% - 80px);
                margin-top: 80px;
                li {
                    animation: fadeInRight .5s ease forwards;
                    animation-delay: .35s;
                    &:nth-of-type(2) {
                        animation-delay: .4s;
                    }
                    &:nth-of-type(3) {
                        animation-delay: .45s;
                    }
                    &:nth-of-type(4) {
                        animation-delay: .50s;
                    }
                    &:nth-of-type(5) {
                        animation-delay: .55s;
                    }
                }
            }
            >div {
                position: relative;
                height: 100%;
                padding: 30px 0;
                // top: 50%;
                // transform: translateY(-50%);
                font-weight: 300;
                font-size: 40px;
                line-height: 45px;
                overflow: auto;
                // line-height: 1.1em;
                >ul {
                    list-style: none;
                    padding: 0 15px;
                    margin: 0 auto;
                    display: inline-block;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 100%;
                    li {
                        display: block;
                        position: relative;
                        opacity: 0;
                        a {
                            position: relative;
                            color: #fff;
                            text-decoration: none;
                            overflow: hidden;
                            transition: 300ms ease-in-out;
                            font-size: 40px;
                            line-height: 45px;
                            &:hover {
                                color: $gold;
                            }
                            @media (max-width: 450px) {
                                font-size: 25px !important;
                                line-height: 35px !important;
                            }
                        }
                        &.menu-item-has-children {
                            ul {
                                li {
                                    a {
                                        position: relative;
                                        padding-left: 50px;
                                        &:before {
                                            position: absolute;
                                            left: 10px;
                                            font-family: FontAwesome;
                                            content: '\f141';
                                            font-size: 30px;
                                        }
                                        @media (max-width: 450px) {
                                            padding-left: 30px;
                                            &:before {
                                                left: 5px;
                                                font-size: 15px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @media (max-width: 700px) {
                >div {
                    font-size: 32px;
                    line-height: 40px;
                    >ul {
                        >li {
                            a {
                                line-height: 50px;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes shake {
    10%,
    90% {
        transform: rotate(-10deg)
    }
    50% {
        transform: rotate(0);
    }
    30%,
    70% {
        transform: rotate(10deg);
    }
}