  section.kontakt {
        padding: 40px 0;
        .container {
            display: flex;
            .side {
                &--left {
                    flex: 0 1 50%;
                    padding: 15px;
                    h2 {
                        position: relative;
                        text-align: left;
                        &:before {
                            position: absolute;
                            content: '';
                            left: 0;
                            bottom: -15px;
                            width: 90px;
                            height: 2px;
                            border-bottom: 2px solid $mainColor;
                        }
                    }
                    h3 {
                        text-align: left;
                        i {
                            margin-right: 10px;
                        }
                    }
                    p {
                        font-size: 20px;
                        a {
                            text-decoration: none;
                            color: $mainColor;
                            transition: .3s all linear;

                            &:hover {
                                color: $headersColor;
                            }
                        }
                    }
                }
                &--right {
                    flex: 0 1 50%;
                    padding: 15px;
                    h2 {
                        text-align: left;
                        position: relative;
                        &:before {
                            position: absolute;
                            content: '';
                            left: 0;
                            bottom: -15px;
                            width: 90px;
                            height: 2px;
                            border-bottom: 2px solid $mainColor;
                        }
                    }
                }
            }
            @media (max-width: 600px) {
                flex-direction: column;
                .side {
                    &--left {
                        flex-basis: auto
                    }
                    &--right {
                        flex-basis: auto;
                    }
                }
            }
        }
    }
    
    section.map-wrapper {
        max-width: 100%;
        #map {
            height: 500px;
        }
    }