section.przebieg-leczenia {
	h2,h3 {
		text-align: left;
	}
	h3 {
		margin-top: 40px;
		margin-bottom: 30px;
		position: relative;
         &:before {
             position: absolute;
             content: '';
             left: 0;
             bottom: -15px;
             width: 45px;
             height: 2px;
             border-bottom: 2px solid $mainColor;
         }
	}
	p {
		font-size: 20px;
		line-height: 30px;
		text-align: justify;
	}
	img {
		margin: 0 auto;
		max-height: 200px;
		max-width: 600px;
		display: block;
		border: 2px solid $mainColor;
		@media (max-width: 650px) {
			max-width: 100%;
		}
	}
	.images-wrapper {
		display: flex;
		justify-content: center;
		.img-left, .img-right {
			
			img {
				max-height: 150px;
				border: none;
			}
		}
		.img-left {
			margin-right: 10px;
		}
	}
}