
  

      .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
        height: 15px;
        width: 15px;
        display: none !important;
        &.slick-prev {
            left: 0;
        }
        &.slick-next {
            right: 0;
        }
    }
    
    .slick-dots {
        display: none !important;
    }
    
