.intro-section {
    &__sliding-desc {
       margin: 15px 0;

        >div {
            display: none;
            padding: 25px 40px;
            background-color: $greenLight;
            p {
                color: $yellow;
            }
        }
    }
    &__heading-light {
        @extend .font-light;
        font-size: 28px;
        @media (max-width: 450px){
            display: block;
        }
    }
    &__image {
        &--main {
            @extend .background-standard;
            @media (min-width: 768px) {
                padding: 60px;
            }
            padding: 30px;
            @media (max-width: 767px) {
                display: flex;
                align-items: flex-end;
                flex-wrap: wrap;
            }
            position: relative;
            min-height: 330px;
            @media (min-width: 768px) {
                min-height: 615px;

            }
        }
        &--wrapper {
            display: flex;
            >a {
                width: 25%;
                border-right: 2px solid #fff;
                border-left: 2px solid #fff;
                border-top: 4px solid #fff;
                border-bottom: 4px solid #fff;
                overflow: hidden;
                &:first-of-type {
                    border-left: 0px;
                }
                &:last-of-type {
                    border-right: 0px;
                }
            }
            @media (max-width: 767px) {
                flex-wrap: wrap;
                >a {
                    width: 100%;
                }
            }
        }
        &--single {
            @extend .background-standard;
            min-height: 200px;
            position: relative;
            transform:scale(1);
            transition: .2s linear all;
            &:hover {
                transform:scale(1.05);
            }
        }
    }
    &__description {
        @media (min-width: 768px) {
            position: absolute;
        }
        color: #fff;
        @extend .font-white;
        &.main {
            @media (min-width: 768px) {
                width: 45%;
                left: 55%;
                bottom: 80px;
                margin: 0;
            }
            @media (max-width: 767px) {
                br {
                    display: none;
                }
            }
            margin-bottom: 20px;
            @extend .font-big;
        }
        &.faded {
            @extend .font-big;
            @media (min-width: 768px) {
                top: 120px;
                left: 70px;
                opacity: .5;
                margin: 0;
            }
            letter-spacing: .5px;
            margin-bottom: 20px;
        }
        &.secondary {
            // @media (min-width: 768px) {
            bottom: 15px;
            position: absolute;
            margin: 0; // }
            margin-bottom: 20px;
            width: 100%;
            text-align: center;
            @extend .font-bold;
        }
        img {
            margin-top: 5px;
        }
        &--numbers {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 60px;
            @extend .font-bold;
            position: absolute;
            color: #fff;
        }
    }
}
.america-origin {
    margin-top: 120px;
    margin-bottom: 40px;
}
.three-col {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    &__left,
    &__mid {
        border-right: 1px solid $borderColor;
    }
    &__left,
    &__right {
        @media (min-width: 768px) {
            width: 25%;
        }
        text-align: center;
        padding: 20px;
    }
    &__mid {
        @media (min-width: 768px) {
            width: 50%;
        }
        padding: 30px;
    }
    @media (max-width: 767px) {
        flex-wrap: wrap;
        &__left,
        &__mid,
        &__right {
            width: 100%;
            border-right: 0px;
        }
    }
}

.product {
    display: flex;
    margin-top: 100px;
    &--single {
        width: 25%;
        text-align: center;
    }
    &__title {
        color: $blueLight;
        font-size: 28px;
    }
    &__subtitle {
        font-size: 18px;
        color: #434343;
        @extend .font-light;
    }
    &__title,
    &__subtitle {
        margin-bottom: 10px;
        line-height: 1.2;
    }
    @media (max-width: 767px) {
        flex-wrap: wrap;
        &--single {
            width: 100%;
        }
    }
}

.promo-section {
    margin-top: 50px;
    &__inner {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
    }
    &__left,
    &__right {
        width: 50%;
        @extend .font-light;
        font-size: 18px;
    }
    &__left {
        display: flex;
        align-items: center;
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
    }
    &__image-wrapper {
        padding-right: 35px;
        @media (max-width: 767px) {
            margin-bottom: 15px;
            text-align: center;
            width: 100%;
            padding: 0;
        }
    }
    &__disclaimer {
        text-align: center;
        font-size: 12px;
    }
    @media (max-width: 767px) {
        &__left,
        &__right {
            width: 100%;
            margin-bottom: 15px;
        }
    }
}

.green-section {
    display: flex;
    background-color: $greenLight;
    margin-top: 80px;
    border-bottom: 1px solid $borderColor;
    &__right {
        padding: 40px;
    }
    &__left {
        display: none;
    }
    @media (min-width: 991px) {
        &__right {
            width: 67%;
        }
        &__left {
            width: 33%;
            img {
                width: 100%;
            }
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 991px) {
            flex-wrap: wrap;
        }
    }
    &__title {
        @media (min-width: 992px) {
            flex: 1 0 auto;
            padding-right: 25px;
        }
        @extend .font-light;
    }
    &__desc {
        @media (min-width: 992px) {
            border-left: 1px solid $borderColor;
            padding-left: 25px;
        }
        @extend .font-light;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style-type: none;
        padding-top: 25px;
        a {
            @extend .font-light;
        }
    }
}

.product-details {
    display: flex;
    margin: 50px 0 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid $borderColor;
    &__desc {
        @extend .font-light;
        text-align: left;
    }
    h3 {
        @extend .font-light;
    }
    &__left {
        width: 50%;
        padding: 0 40px;
        text-align: center;
        border-right: 1px solid $borderColor;
        h3 {
            text-align: center;
        }
        img {
            &:not(:first-of-type) {
                margin-top: 30px;
            }
        }
    }
    &__right {
        width: 50%;
    }
    @media (min-width: 992px) {
        &__text-wrapper {
            padding: 0 40px;
        }
    }
    &__image {
        &-wrapper {
            @extend .images-section;
        }
    }
    &__cert {
        display: flex;
        align-items: center;
        &-text {
            @extend .font-light;
            width: 60%;
            padding: 0 30px;
        }
        &-image {
            width: 40%;
            border-right: 1px solid $borderColor;
        }
    }
    @media (max-width: 767px) {
        flex-wrap: wrap;
        &__right,
        &__left {
            width: 100%;
            margin-bottom: 15px;
            padding: 0 20px;
        }
    }
}

.blog-section,
.news-section {
    margin-bottom: 30px;
    h2 {
        margin-bottom: 20px;
    }
    &__inner {
        display: flex;
        justify-content: space-around;
        @media (max-width: 991px) {
            flex-wrap: wrap;
        }
    }
    &__post {
        max-width: 190px;
        margin: 10px;
    }
}

.news-section {
    @extend .container-small;
    &__wrapper {
        display: flex;
        justify-content: space-around;
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
    }
    @media (max-width: 767px) {
        &__single {
            margin: 0 10px 15px;
        }
    }
}

.product-preparing {
    @extend .background-standard;
    padding: 70px;
    margin: 50px 0;
    min-height: 320px;
    &__heading {
        @extend .font-light;
        margin-top: 40px;
    }
    @media (max-width: 767px) {
        padding: 20px;
        margin: 20px 0;
    }
}

.product-hurt {
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
        flex-wrap: wrap;
    }
    &__heading {
        @media (min-width: 768px) {
            flex: 1 0 auto;
            padding-right: 30px;
        }
    }
    &__subheading,
    &__text {
        @media (min-width: 768px) {
            padding-left: 30px;
        }
    }
    &__text {
        @media (min-width: 768px) {
            border-left: 1px solid $borderColor;
        }
    }
    &__subheading {
        margin-top: 0;
        @extend .font-light;
    }
}

.sequoya-logo-section {
    padding: 40px 0 20px;
}

.blue-section {
    background-color: $blue;
    &__inner {
        display: flex;
        justify-content: space-around;
        padding: 50px;
        @extend .container;
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
    }
    &__image-wrapper {
        width: 30%;
        text-align: center;
        @media (max-width: 767px) {
            width: 100%;
            margin-bottom: 15px;
        }
    }
}