body {
    padding-bottom: 200px;
}

.intro-section {
    &__image {
        &--main {
            @extend .background-standard;
            padding: 60px;
            position: relative;
            min-height: 615px;
        }
        &--wrapper {
            display: flex;
            >a {
                width: 25%;
                border-right: 2px solid #fff;
                border-left: 2px solid #fff;
                border-top: 4px solid #fff;
                border-bottom: 4px solid #fff;
                &:first-of-type {
                    border-left: 0px;
                }
                &:last-of-type {
                    border-right: 0px;
                }
            }
        }
        &--single {
            @extend .background-standard;
            min-height: 200px;
            position: relative;
        }
    }
    &__description {
        position: absolute;
        color: #fff;
        @extend .font-white;
        &.main {
            width: 50%;
            left: 55%;
            @extend .font-big;
            bottom: 80px;
        }
        &.faded {
            @extend .font-big;
            letter-spacing: .5px;
            opacity: .5;
            top: 120px;
            left: 70px;
        }
        &.secondary {
            bottom: 15px;
            width: 100%;
            text-align: center;
            @extend .font-bold;
        }
        img {
            margin-top: 5px;
        }
    }
}

.three-col {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    &__left,
    &__mid {
        border-right: 1px solid $borderColor;
    }
    &__left,
    &__right {
        width: 25%;
        text-align: center;
        padding: 20px;
    }
    &__mid {
        width: 50%;
        padding: 30px;
    }
}

.product {
    display: flex;
    &--single {
        width: 25%;
        text-align: center;
    }
    &__title {
        color: $blue;
        font-size: 28px;
    }
    &__subtitle {
        font-size: 18px;
    }
    &__title,
    &__subtitle {
        margin-bottom: 10px;
        line-height: 1.2;
    }
}

.promo-section {
    margin-top: 50px;
    &__inner {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    &__left,
    &__right {
        width: 50%;
        @extend .font-light;
        font-size: 18px;
    }
    &__left {
        display: flex;
        align-items: center;
    }
    &__image-wrapper {
        padding-right: 35px;
    }
    &__disclaimer {
        text-align: center;
        font-size: 12px;
    }
}

.green-section {
    display: flex;
    background-color: $greenLight;
    margin-top: 80px;
    border-bottom: 1px solid $borderColor;
    &__right {
        padding: 40px;
        width: 67%;
    }
    &__left {
        width: 33%;
        img {
            width: 100%;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        flex: 1 0 auto;
        padding-right: 25px;
        @extend .font-light;
    }
    &__desc {
        border-left: 1px solid $borderColor;
        padding-left: 25px;
        @extend .font-light;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style-type: none;
        padding-top: 25px;
        a {
            @extend .font-light;
        }
    }
}

.product-details {
    display: flex;
    margin: 50px 0 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid $borderColor;
    &__desc {
        @extend .font-light;
        text-align: left;
    }
    h3 {
        @extend .font-light;
    }
    &__left {
        width: 50%;
        padding: 0 40px;
        text-align: center;
        border-right: 1px solid $borderColor;
        h3 {
            text-align: center;
        }
        img {
            &:not(:first-of-type) {
                margin-top: 30px;
            }
        }
    }
    &__right {
        width: 50%;
    }
    &__text-wrapper {
        padding: 0 40px;
    }
    &__image {
        &-wrapper {
            display: flex;
        }
    }
    &__cert {
        display: flex;
        align-items: center;
        &-text {
            @extend .font-light;
            width: 60%;
            padding: 0 30px;
            
        }
        &-image {
            width: 40%;
            border-right: 1px solid $borderColor;       
        }
    }
}

.blog-section, .news-section {
    margin-bottom: 30px;
    h2 {
        margin-bottom: 20px;
    }
    &__inner {
        display: flex;
        justify-content: space-around;
    }
    &__post {
        max-width: 190px;
    }
}
.news-section {
    @extend .container-small;
    &__wrapper {
        display: flex;
        justify-content: space-around;
    }
    // &__single {
    //     @extend .font-light;
    // }
}