.banner-top {
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    h1,
    h3 {
        // text-shadow: 1px 1px 1px rgba($black, .2);
    }
    @media (max-width: 1450px) {
        background-size: cover;
        br {
            display: none;
        }
    }
    &__figure {
        position: absolute;
        width: 65%;
        margin-left: -5%;
        height: 100%;
        background-color: rgba($grey, 0.4);
        transform: skewX(-15deg);
        @media (max-width: 550px) {
            width: 75%;
            margin-left: -10%;
        }
    }
    .container {
        position: relative;
        height: 600px;
    }
    &__inner-text {
        position: absolute;
        padding: 0 10px;
        top: 50%;
        max-width: 58%;
        left: 0;
        transform: translateY(-50%);
    }
    h1,
    h3 {
        text-align: left;
        position: relative;
        z-index: 1;
        margin-bottom: 10px;
    }
    h3 {
        margin-top: 20px;
    }
    h1 {
        @media (max-width: 600px) {
            font-size: 40px;
        }
        @media (max-width: 500px) {
            font-size: 30px;
        }
    }
    @media (max-width: 992px) {
        height: 500px;
        .container {
            height: 500px;
        }
    }
    @media (max-width: 850px) {
        height: 400px;
        .container {
            height: 400px;
        }
    }
    @media (max-width: 650px) {
        height: 300px;
        .container {
            height: 300px;
        }
    }
}

.features {
    padding: 50px 0;
    &--wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-top: 40px;
    }
    &--single {
        padding: 0 20px;
        width: 33%;
        margin-bottom: 50px;
        text-align: center;
        @media (max-width: 991px) {
            width: 50%;
        }
        @media (max-width: 600px) {
            width: 100%;
        }
        &__num {
            text-align: center;
            font-size: 30px;
            color: $black;
            width: 35px;
            // height: 35px;
            // border-radius: 50%;
            // border: 1px solid $gold;
            margin: 0 auto;
            padding-bottom: 10px;
            border-bottom: 1px solid $gold;
            margin-bottom: 15px;
        }
        h4 {
            font-weight: bold;
            margin: 10px 0 20px;
            // min-height: 40px;
        }
    }
}

.slides {
    padding: 50px 0;
    background-color: #fff;
    .slides {
        &--single {
            position: relative;
            margin: 0 auto;
            width: 33%;
            padding: 20px 0;
            height: 350px;
            &__img {
                @media (max-width: 1400px) {
                    padding-top: 40px;
                }
            }
            @media (max-width: 1400px) {
                height: 300px;
            }
            @media (max-width: 1100px) {
                height: 250px;
            }
            @media (max-width: 650px) {
                height: 350px;
                &__img {
                    padding-top: 0;
                }
            }
            @media (max-width: 550px) {
                height: 300px;
                &__img {
                    padding-top: 40px;
                }
            }
            h4 {
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 10px 0;
                min-height: 40px;
                background-color: rgba($black, 0.7);
                opacity: 0;
                transition: .4s linear opacity;
                border-radius: 3px;
                color: #fff;
            }
            &.slick-center {
                h4 {
                    opacity: 1;
                }
            }
        }
        &--wrapper {
            padding: 50px 5px;
        }
    }
    p {
        font-size: 20px;
        text-align: center;
        a {
            margin-top: 25px;
        }
    }
}

.orto {
    padding: 50px 0;
    h3 {
        font-size: em(25);
        margin-bottom: 20px;
        &:nth-of-type(2) {
            margin-top: 20px;
        }
    }
    ul {
        li {
            position: relative;
            padding-left: 25px;
            font-size: em(20);
            margin-bottom: 10px;
            &:before {
                position: absolute;
                content: '\f00c';
                font-family: FontAwesome;
                font-size: 18px;
                left: 0;
                color: $fontColor;
            }
        }
    }
}

.patient {
    padding: 50px 0;
    background-color: #fff;
    h2 {
        margin-bottom: 40px;
        @media (max-width: 600px) {
            margin-bottom: 30px;
        }
    }
    &--single {
        display: flex;
        align-items: center;
        margin: 20px 0 40px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 70%;
            height: 1px;
            background-color: $gold;
            left: 50%;
            transform: translateX(-50%);
            bottom: -20px;
        }
        &:last-of-type {
            &:before {
                content: none;
            }
            margin: 20px 0;
        }
        &__img {
            width: 25%;
        }
        &__content {
            h3 {
                margin-bottom: 20px;
            }
            p {
                text-align: justify;
            }
            width: 75%;
            padding: 10px 0 10px 10px;
        }
        @media (max-width: 600px) {
            flex-wrap: wrap;
            justify-content: center;
            &__img {
                width: 100%;
                max-width: 300px;
                ;
            }
            &__content {
                width: 100%;
                padding: 10px 0;
            }
        }
    }
}

.txt {
    padding: 0 0 50px 0;
    p {
        margin-bottom: 10px;
        strong {
            font-weight: 600;
            font-size: 18px;
        }
    }
    a {
        font-weight: 600;
        color: #333;
    }
    h1 {
        margin-bottom: 40px;
        background-color: rgba($gold, .6);
        color: #fff;
        padding: 40px 10px;
        @media (max-width: 450px) {
            font-size: 45px;
        }
    }
    h2,
    h3,
    h4,
    h5 {
        margin-bottom: 20px;
        &.spec {
            margin: 30px 0;
        }
        &.highlight {
            text-align: center;
            color: $gold;
        }
    }
    h5 {
        padding-bottom: 10px;
        text-decoration: underline;
    }
    h3 {
        text-align: left;
        &.spacer {
            margin: 30px 0 10px;
        }
    }
    .txt-block {
        &--single {
            display: flex;
            padding: 40px 0;
            margin: 10px 0;
            &.rev {
                .txt-block__opis {
                    padding-left: 0;
                    padding-right: 10px;
                }
            }
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 50%;
                height: 1px;
                background-color: $gold;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
            }
            &:last-of-type {
                &:before {
                    content: none;
                }
            }
            &.no-img {
                .txt-block__opis {
                    width: 75%;
                    margin: 0 auto;
                    padding: 10px 0;
                    @media (max-width: 600px) {
                        width: 100%;
                    }
                }
            }
        }
        &__img {
            width: 30%;
            color: $fontColor;
            padding: 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            h4 {
                margin-bottom: 20px;
                span {
                    font-size: 70px;
                    color: $fontColor;
                }
            }
            p {
                margin-bottom: 10px;
            }
            img {
                border: 1px solid rgba(85, 85, 85, 0.5);
            }
        }
        &__opis {
            width: 70%;
            padding-left: 10px;
            text-align: justify;
            h4 {
                margin-bottom: 20px;
                font-size: em(25);
                span {
                    font-size: 70px;
                    color: $fontColor;
                }
            }
            p {
                margin-bottom: 10px;
            }
        }
        @media (max-width: 600px) {
            &--single {
                padding: 10px 0;
                flex-wrap: wrap;
                .txt-block__opis,
                .txt-block__img {
                    width: 100%;
                }
                .txt-block__opis {
                    padding-top: 10px;
                }
                &.rev {
                    .txt-block__img {
                        order: 1;
                    }
                    .txt-block__opis {
                        order: 2;
                    }
                }
            }
        }
    }
    ul.txt-ul {
        margin-bottom: 30px;
        li {
            position: relative;
            padding-left: 25px;
            font-size: em(18);
            margin-bottom: 10px;
            &:before {
                position: absolute;
                content: '\f00c';
                font-family: FontAwesome;
                font-size: 18px;
                left: 0;
                color: $fontColor;
            }
        }
    }
    .guide {
        &--wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            // align-items: center;
            max-width: 800px;
            margin: 50px auto;
            &.no-border {
                .guide--single {
                    border-bottom: none;
                    @media (max-width: 550px) {
                        &:not(:last-of-type) {
                            border-bottom: 1px solid $gold;
                        }
                    }
                }
            }
        }
        &--single {
            padding: 10px;
            text-align: center;
            width: 50%;
            &:nth-child(odd) {
                border-right: 1px solid $gold;
                @media (max-width: 550px) {
                    border-right: none;
                }
            }
            &:nth-child(1),
            &:nth-child(2) {
                border-bottom: 1px solid $gold;
            }
            &__img {
                margin: 10px 0;
                img {
                    border: 1px solid rgba(85, 85, 85, 0.5);
                }
            }
            &__opis {}
            @media (max-width: 550px) {
                width: 100%;
                border-bottom: 1px solid $gold;
                border-right: 0px;
                &:last-of-type {
                    border-bottom: none;
                }
            }
        }
    }
}

.szczotkowanie {
    h3,
    p {
        text-align: center;
    }
}

.about {
    padding: 0 0 50px 0;
}

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 4px;
        background: #d7e4ed;
    }
    @media only screen and (min-width: 768px) {
        margin-top: 3em;
        margin-bottom: 3em;
        &:before {
            left: 50%;
            margin-left: -2px;
        }
    }
}

.cssanimations {
    .cd-timeline-img {
        &.is-hidden {
            visibility: hidden;
        }
        &.bounce-in {
            visibility: visible;
            animation: cd-bounce-1 0.6s;
        }
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.cd-timeline-block {
    position: relative;
    margin: 20px 0;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &.highlight {
        .cd-timeline-content {
            background-color: rgba($gold, .6);
            color: $black;
            &:before {
                border-left-color: rgba($gold, .6);
            }
            @media (max-width: 767px) {
                &:before {
                    border-left-color: transparent;
                    border-right-color: rgba($gold, .6);
                }
            }
        }
    }
    &:nth-child(even) {
        &.highlight {
            .cd-timeline-content {
                background-color: rgba($gold, .6);
                &:before {
                    border-right-color: rgba($gold, .6);
                }
            }
        }
    }
    @media only screen and (min-width: 1170px) {
        margin: 40px 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    h4 {
        display: block;
        position: relative;
        margin: 0;
    }
    @media only screen and (min-width: 768px) {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
}

@media only screen and (min-width: 768px) {
    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        animation: cd-bounce-1 0.6s;
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 #d7e4ed;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    h2 {
        color: #303e49;
    }
    p {
        font-size: 13px;
        font-size: 0.8125rem;
        margin: 15px 0;
        line-height: 1.6;
    }
    &:before {
        content: '';
        position: absolute;
        top: 16px;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right: 7px solid white;
    }
    @media only screen and (min-width: 768px) {
        h2 {
            font-size: 20px;
            font-size: 1.25rem;
        }
        p {
            font-size: 16px;
            font-size: 1rem;
        }
    }
    @media only screen and (min-width: 768px) {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
        &:before {
            top: 24px;
            left: 100%;
            border-color: transparent;
            border-left-color: white;
        }
    }
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
    }
    .cd-timeline-content .cd-read-more {
        float: left;
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 768px) {
    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        animation: cd-bounce-2-inverse 0.6s;
    }
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    60% {
        opacity: 1;
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}

.certyfikaty {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 25px 0;
    img {
        max-width: 200px;
        height: 150px;
        margin: 5px;
    }
}

.wady {
    &--wrap {
        display: flex;
        // align-items: center;
        justify-content: space-between;
        padding: 50px 0;
    }
    &--single {
        text-align: center;
        width: 30%;
        &__img {
            img {
                border: 1px solid black;
                margin: 0;
                padding: 0;
            }
        }
        &__opis {
            margin-top: 12px;
            border: 1px solid black;
            padding: 10px;
            position: relative;
            z-index: 2;
            h4 {
                margin: 0;
            }
        }
    }
}

.homepage {}