.kontakt {
    padding: 0 0 30px 0;
    h1 {
        margin-bottom: 20px;
        margin-top: 30px;
    }
    p {
        margin-bottom: 10px;
        a {
            text-decoration: none;
            color: #333;
        }
    }
    @media (min-width: 768px) {
        padding: 0 0 40px 0;
    }
    .form-wrapper {
        margin: 30px auto;
        max-width: 650px;
    }
    form {
        p {
            text-align: center;
            >label {
                display: block;
                position: relative;
                >span {}
            }
        }
        label {
            &.fake-placeholder {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                color: rgba(#fff, .5);
                transition: all .2s linear;
                top: 8px;
                &:hover {
                    cursor: text;
                }
                &.fieldFilled {
                    top: -20px;
                    bottom: auto;
                    font-size: 14px;
                }
            }
        }
        input,
        textarea {
            font-family: 'Lato', sans-serif;
            text-align: center;
            font-size: 18px;
            border: none;
            border-bottom: 1px solid $grey;
            background-color: transparent;
            color: #fff;
            width: 100%;
            margin-bottom: 20px;
            padding: 10px 15px;
            transition: all .333s linear;
            position: relative;
            z-index: 9;
            &:focus {
                border-color: $gold;
                +label.fake-placeholder {
                    @extend .fieldFilled;
                }
            }
        }
        textarea {
            resize: vertical;
        }
        input[type=submit] {
            @extend .btn;
            padding: 10px 15px;
            max-width: 250px;
            display: inline-block;
            &:hover {
                cursor: pointer;
            }
        }
         ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: rgba(#fff, .5);
        }
         ::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba($fontColor, .5);
        }
         :-ms-input-placeholder {
            /* IE 10+ */
            color: rgba($fontColor, .5);
        }
         :-moz-placeholder {
            /* Firefox 18- */
            color: rgba($fontColor, .5);
        }
    }
    .contact-wrap {
        display: flex;
        // background-color: $black;
        background-color: #fff;
        .map-wrapper {
            width: 60%;
        }
        .contact--info {
            width: 40%;
            padding: 20px 0;
            .info-inner {
                float: right;
                width: 100%;
                padding: 15px;
                max-width: 585px;
                text-align: center;
                // color: #fff;
                h3 {
                    margin: 20px 0 10px;
                    // border-bottom: 1px solid $fontColor;
                    position: relative;
                    color: rgba($fontColor, .9) !important;
                    &:first-child {
                        margin-top: 0;
                    }
                    i {
                        // font-size: 18px;
                    }
                    &:before {
                        position: absolute;
                        content: '';
                        border-bottom: 1px solid $fontColor;
                        width: 70px;
                        left: 50%;
                        bottom: -8px;
                        transform: translateX(-50%);
                    }
                }
                p {
                    font-size: 18px;
                    color: #333;
                    a {
                        color: #333;
                    }
                    &.tel {
                        font-weight: bold;
                        font-size: 20px;
                        color: $gold;
                    }
                }
            }
        }
        #map {
            height: 100%;
        }
        @media (max-width: 767px) {
            flex-wrap: wrap;
            #map {
                min-height: 300px;
            }
            .map-wrapper,
            .contact--info {
                width: 100%;
                .info-inner {
                    max-width: 100%;
                    float: none;
                }
            }
        }
    }
}