.intro-product {
    @extend .section-margin;
    margin-top: 30px;
    &__heading,
    &__desc {
        @extend .font-light;
    }
}

.two-cols {
    margin: 25px 0;
    display: flex;
    @media (max-width: 767px) {
        flex-wrap: wrap;
    }
    &__align-center {
        align-items: center;
    }
    &__no-border {
        .two-cols--right {
            border-left: 0px;
        }
    }
    &__inner-text {
        width: calc(100% - 140px);
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    &__inner-image {
        width: 140px;
        @media (max-width: 767px) {
            width: 100%;
            text-align: center;
        }
    }
    &--right,
    &--left {
        width: 50%;
        &.double-inner {
            display: flex;
            @media (max-width: 767px) {
                flex-wrap: wrap;
            }
        }
        &_no-padding {
            padding-bottom: 0px !important;
        }
    }
    &--left {
        &.image-container,
        .image-container {
            text-align: center;
        }
        &.double-inner {
            .two-cols__inner-image {
                order: 1;
            }
            .two-cols__inner-text {
                order: 2;
            }
        }
    }
    &--left,
    &--right {
        padding: 10px 20px;
    }
    &--right {
        padding: 10px 20px;
        border-left: 1px solid $borderColor;
    }
    &__title {
        @extend .font-mid-plus;
        margin-bottom: 20px;
        &-mid {
            @extend .font-mid;
            @extend .font-light;
            margin-bottom: 20px;
        }
    }
    &__title,
    &__desc {
        @extend .font-light;
    }
    &__icon-section {
        display: flex;
        align-items: center;
        margin: 20px 0;
    }
    &__icon-wrapper {
        min-width: 110px;
        width: 110px;
    }
    &__icon-title {
        padding-left: 20px;
        @extend .font-mid-plus;
        @extend .font-light;
    }
    @media (max-width: 767px) {
      &--left, &--right {
          width: 100%;
          border: 0px;
      }
    }
}

.extract-section {
    &__image-wrapper {
        min-height: 550px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        margin: 20px 0;
    }
    &__inner-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (max-width: 767px) {
            width: 100%;
            transform: translateY(-50%);
            left: 0;
        }
    }
    &__title,
    &__desc {
        @extend .font-light;
    }
}

.img-horizontal {
    display: flex;
    align-items: center;
    padding: 15px 50px;
    @media (max-width: 767px) {
        flex-wrap: wrap;
        padding: 15px;
    }
    &--left {
        width: 60%;
    }
    &--image {
        &_sm {
            width: 20%;
        }
    }
    &--text {
        &_big {
            width: 80%;
        }
    }
    &__text {
        &_big {
            @extend .font-mid-plus;
            @extend .font-light;
        }
    }
    &--right {
        width: 40%;
        text-align: center;
    }
    &__title {
        @extend .blue;
        @extend .font-light;
        @extend .font-mid;
        &_big {
            @extend .font-mid-plus;
            @extend .greenSecondary;
        }
        &-mid {
            @extend .font-light;
            @extend .font-mid;
        }
    }
    &__desc {
        @extend .font-light;
    }
    @media (max-width: 767px) {
        &--text, &--image {
            width: 100%;
            margin-bottom: 15px;
        }
        &--image {
            text-align: center;
        }
    }
}

.image-text {
    display: flex;
    @media (max-width: 767px) {
        flex-wrap: wrap;
        padding: 0;
    }
    &__align-center {
        align-items: center;
    }
    &__image-wrapper {
        width: 30%;
        text-align: center;
    }
    &__text-wrapper {
        width: 70%;
    }
    &__desc {
        @extend .font-light;
    }
    &__heading {
        @extend .font-mid-plus;
        @extend .font-light;
        margin-bottom: 20px;
        span {
            @extend .font-mid;
        }
    }
    @media (max-width: 767px) {
        &__image-wrapper, &__text-wrapper {
            width: 100%;
        }
    }
}

.quadra-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: 767px) {
        flex-wrap: wrap;
    }
    &__single {
       
        width: 50%;
       
        display: flex;
        padding: 15px;
        position: relative;
        @media (min-width: 768px) {
            &:nth-of-type(2n+1) {
                border-right: 1px solid $borderColor;
            }
            &:first-of-type, &:nth-of-type(2) {
                &:before {
                    content: '';
                    width: 40%;
                    height: 1px;
                    background-color: $borderColor;
                    position: absolute;
                    bottom: 0px;
                }
            }
            &:first-of-type {
                &:before {
                    right: 0px;
                }
            }
            &:nth-of-type(2) {
                &:before {
                    left: 0;
                }
            }
        }

        @media (max-width: 767px) {
            width: 100%;
            border-right: 0px;
            border-bottom: 1px solid $borderColor;
        }
    }
    &__text {
        text-align: center;
        width: calc(100% - 130px);
    }
    &__img {
        min-width: 130px;
        width: 130px;
        &--right {
            padding-left: 20px;
        }
        &--left {
            padding-right: 20px;
        }
    }
    &__title {
        @extend .font-mid-plus;
        @extend .blue;
    }
    &__mid {
        margin: 5px 0 10px;
    }
    &__purpose {
        @extend .blue;
    }
}

