body {
  background-image: radial-gradient(rgb(41, 106, 212) 0%, rgb(78, 142, 247) 100%);
  font: 400 1em/1.38 Montserrat;
  color: #ffffff;
  text-align: center;
}

.table-cell {
	text-decoration: none;
	color: #ffffff;
}

.table-cell:hover {
	color: yellow;
}

.forks-table {
	float: left;
}