body {
    margin: 0;
    padding: 80px 0;
    font-family: Roboto, sans-serif
}

.container {
    max-width: 700px;
    padding: 0 15px;
    margin: 0 auto
}

button:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05)
}
.SingleStation {
    padding: 10px 15px;
    border: 2px solid #000;
    border-radius: 4px;
    margin-bottom: 15px; }
    .SingleStation.green {
      border-color: #49cc90;
      background: rgba(73, 204, 144, 0.5); }
    .SingleStation.greenDark {
      border-color: #49cc90;
      background: rgba(73, 204, 144, 0.3); }
    .SingleStation.yellow {
      border-color: #fca130;
      background: rgba(252, 161, 48, 0.5); }
    .SingleStation.orange {
      border-color: #fca130;
      background: rgba(252, 161, 48, 0.3); }
    .SingleStation.red {
      border-color: #f93e3e;
      background: rgba(249, 62, 62, 0.3); }
    .SingleStation.more-than-red {
      border-color: #f93e3e;
      background: rgba(249, 62, 62, 0.5); }
    .SingleStation.no-data {
      background-color: #fbfbfb; }
    .SingleStation__upper {
      display: flex; }
    .SingleStation p {
      font-weight: 300;
      text-transform: initial; }
    .SingleStation__l, .SingleStation__r {
      width: 50%; }
    .SingleStation__r {
      text-align: right; }
    .SingleStation_airPollutionNum {
      font-weight: bold;
      font-size: 40px;
      line-height: 16px; }
    .SingleStation__name, .SingleStation__address {
      font-size: 1.2rem; }
    .SingleStation__name, .SingleStation__address, .SingleStation__details {
      text-transform: uppercase;
      font-weight: 400; }
    .SingleStation__bottom {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding: 10px 0;
      margin-top: 15px; }
  
  button {
    cursor: pointer;
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    -webkit-appearance: button;
    /* for input */
    -webkit-user-select: none;
    /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 10px 15px;
    border-radius: 30px;
    border: 1px solid #333;
    color: #fff;
    background-color: rgba(51, 51, 51, 0.9);
    transition: .2s linear all; }