<div class="row">
	<div class="forks-table col-sm-6"> 
		<h2>Contributions statistics</h2>
		<table class="table table-hover"> 
			<tbody>
				<tr>
					<th>Username</th>
					<th>
						<a href="#contributions" ng-click="isReverse = !isReverse">
						Contributions
						<span ng-show="isReverse" class="fa fa-sort-up"></span>
						<span ng-show="!isReverse" class="fa fa-sort-down"></span>
					</th>
				</tr>
				<tr ng-repeat="dataCell in contributions | orderBy: 'contributions':isReverse">
					<td>{{dataCell.nickname}}</td>
					<td>{{dataCell.contributions}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="pie-chart" class="col-sm-6"></div>
</div>