<div class="row">
	<div class="forks-table col-sm-6"> 
		<h2>Forks Count statistics</h2>
		<table class="table table-hover"> 
			<tbody>
				<tr>
					<th>Repository Name</th>
					<th>
						<a href="#forks" ng-click="isReverse = !isReverse">
						Forks
						<span ng-show="isReverse" class="fa fa-sort-up"></span>
						<span ng-show="!isReverse" class="fa fa-sort-down"></span>
					</th>
				</tr>
				<tr ng-repeat="dataCell in forks | orderBy: 'forks_count':isReverse">
					<td><a class='table-cell' href="{{dataCell.html_url}}">{{dataCell.name}}</a></td>
					<td>{{dataCell.forks_count}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="column-chart" class="col-sm-6"></div>
</div>